@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	outline: none;
}

body{
	min-height: 100vh;
	overflow: hidden;
}

header{
	min-height: 10vh;
}

header, nav{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul.header_menu{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

li{
	list-style-type: none;
}

a{
	color: #000;
	text-decoration: none;
}

a:hover, button:hover{
	cursor: pointer;
}

@media (min-width: 1280px){

}
@media (min-width: 1024px){

}
@media (min-width: 768px){

}
@media (min-width: 640px){

}
@media (min-width: 300px){

}